<?xml version="1.0" encoding="UTF-8"?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>.\</ResultsDirectory>
  </RunConfiguration>
  <MSTest>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>True</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>
</RunSettings>